In [1]:
'''Task 1 - There are three different tables as given above. Please make three dataframe in python 
and save them as three .csv files. From Task 2 to Task 10, use the saved .csv files only.'''

# Import pandas and numpy library 
import pandas as pd
import numpy as np
# Creating the table: Project Data
project_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005", "A002", "A005", "A003", "A001", "A003", "A001", "A004", "A005"],
    "Project": ["Project 1", "Project 2", "Project 3", "Project 4", "Project 5", "Project 6", "Project 7", "Project 8", "Project 9", "Project 10", "Project 11", "Project 12", "Project 14"],
    "Cost": [1002000, 2000000, 4500000, 5500000, None, 680000, 400000, 350000, None, 300000, 2000000, 1000000, 200000],
    "Status": ["Finished", "Ongoing", "Finished", "Ongoing", "Finished", "Failed", "Finished", "Failed", "Ongoing", "Finished", "Failed", "Ongoing", "Finished"]
}

# Convert to DataFrame
project_df = pd.DataFrame(project_data)

# Saving to CSV file
project_df.to_csv("project.csv", index=False)

# Creating the table: Employee Data
employee_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Name": ["John Alter", "Alice Luxumberg", "Tom Sabestine", "Nina Adgra", "Amy Johny"],
    "Gender": ["M", "F", "M", "F", "F"],
    "City": ["Paris", "London", "Berlin", "Newyork", "Madrid"],
    "Age": [25, 27, 29, 31, 30]
}

# Convert to DataFrame
employee_df = pd.DataFrame(employee_data)

# Saving to CSV file
employee_df.to_csv("employee.csv", index=False)

# Creat the table: Seniority Level
seniority_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Designation Level": [2, 2, 3, 2, 3]
}

# Convert to DataFrame
seniority_df = pd.DataFrame(seniority_data)

# Save to CSV file
seniority_df.to_csv("seniority.csv", index=False)

# Print a message to confirm our saved files
print("All three CSV files are saved.")

All three CSV files are saved.

In [2]:
''' Task 2 - The cost column in the dataframe “Project” has some missing values. Your task is to 
compute these missing values. Replace the missing values by running average. You 
should use the “For” loop for this task. ''' 

# Read the saved CSV file for Project Data
project_df = pd.read_csv("project.csv")

# Display the original dataframe to check missing values
print("Original Project Data:")
print(project_df)

Original Project Data:
      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5        NaN  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9        NaN   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A005  Project 14   200000.0  Finished

In [3]:
# Create a variable to keep track of the running sum and count
running_count = 0
count = 0

# Using "for loop" to replace missing values with running average
for i in range(len(project_df)):
    cost = project_df.loc[i, "Cost"]  # Get the current cost value
    
    if pd.isnull(cost):  # Check if the cost is missing
        # Calculating the running average and replacing the missing value
        running_avg = running_count / count
        project_df.loc[i, "Cost"] = running_avg
    else:
        # Updating the running sum and counting if the value is present
        running_count += project_df.loc[i, "Cost"]
        count += 1

print("\nProject Data After Adding The Missing Values:")
print(project_df)

# Saving the updated CSV file
project_df.to_csv("project_updated.csv", index=False)

Project Data After Adding The Missing Values:
      ID     Project          Cost    Status
0   A001   Project 1  1.002000e+06  Finished
1   A002   Project 2  2.000000e+06   Ongoing
2   A003   Project 3  4.500000e+06  Finished
3   A004   Project 4  5.500000e+06   Ongoing
4   A005   Project 5  3.250500e+06  Finished
5   A002   Project 6  6.800000e+05    Failed
6   A005   Project 7  4.000000e+05  Finished
7   A003   Project 8  3.500000e+05    Failed
8   A001   Project 9  2.061714e+06   Ongoing
9   A003  Project 10  3.000000e+05  Finished
10  A001  Project 11  2.000000e+06    Failed
11  A004  Project 12  1.000000e+06   Ongoing
12  A005  Project 14  2.000000e+05  Finished

In [4]:
'''Task 3 - Split the name column in the Employee dataframe into two new columns “First Name”, 
and “Last Name” and remove the older “name” column.''' 

# Read the employee CSV file
employee_df = pd.read_csv("employee.csv")

# Display the original data
print("Original Employee Data :")
print(employee_df)

Original Employee Data :
     ID             Name Gender     City  Age
0  A001       John Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

In [5]:
# Split the Name column into two new columns
employee_df["First Name"] = employee_df["Name"].str.split().str[0]
employee_df["Last Name"] = employee_df["Name"].str.split().str[1]

# Remove the old Name column
employee_df = employee_df.drop("Name", axis=1)

In [6]:
# Display the updated dataframe below
print("\nUpdated Employee Data Table:")
print(employee_df)

# Save to a new CSV file
employee_df.to_csv("employee_updated.csv", index=False)

Updated Employee Data Table:
     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [29]:
''' Task 4 - Join all three dataframes in one single dataframe. Name it “Final”. '''
    
# Read all three CSV files
project_df = pd.read_csv("project_updated.csv")
employee_df = pd.read_csv("employee_updated.csv")
seniority_df = pd.read_csv("seniority.csv")

# Merge employee and seniority first 
emp_seniority_df = pd.merge(employee_df, seniority_df, on="ID", how="inner")

# Merge with project data
final_df = pd.merge(project_df, emp_seniority_df, on="ID", how="inner")

# Output of the final merged DataFrame
print("Final Merged DataFrame:")
print(final_df)

Final Merged DataFrame:
      ID     Project          Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished      M    Paris   25       John
1   A002   Project 2  2.000000e+06   Ongoing      F   London   27      Alice
2   A003   Project 3  4.500000e+06  Finished      M   Berlin   29        Tom
3   A004   Project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3.250500e+06  Finished      F   Madrid   30        Amy
5   A002   Project 6  6.800000e+05    Failed      F   London   27      Alice
6   A005   Project 7  4.000000e+05  Finished      F   Madrid   30        Amy
7   A003   Project 8  3.500000e+05    Failed      M   Berlin   29        Tom
8   A001   Project 9  2.061714e+06   Ongoing      M    Paris   25       John
9   A003  Project 10  3.000000e+05  Finished      M   Berlin   29        Tom
10  A001  Project 11  2.000000e+06    Failed      M    Paris   25       John
11  A004  Project 12  1.000000e+06   Ongoing      F  Newyork   31       Nina
12  A005  Project 14  2.000000e+05  Finished      F   Madrid   30        Amy

    Last Name  Designation Level
0       Alter                  2
1   Luxumberg                  2
2   Sabestine                  3
3       Adgra                  2
4       Johny                  3
5   Luxumberg                  2
6       Johny                  3
7   Sabestine                  3
8       Alter                  2
9   Sabestine                  3
10      Alter                  2
11      Adgra                  2
12      Johny                  3

In [28]:
''' Task 5 - Add a new bonus column in the Final dataframe. Give a 5% bonus concerning project 
cost only to employees who have finished the projects.  '''

# Read the final merged CSV file
final_df = pd.read_csv("final_merged_data.csv")

# Adding a new Bonus column here
final_df["Bonus"] = 0

# Use a for loop to calculate the bonus for Finished projects
for i in range(len(final_df)):
    if final_df.loc[i, "Status"] == "Finished":  # check if project is Finished
        cost = final_df.loc[i, "Cost"]
        bonus_amount = cost * 0.05  # 5% of cost
        final_df.loc[i, "Bonus"] = bonus_amount  # assign to Bonus column
        
# Output of the final dataframe with the new Bonus column
print("Final DataFrame with Bonus Column:")
print(final_df)

Final DataFrame with Bonus Column:
      ID     Project          Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished      M    Paris   25       John
1   A002   Project 2  2.000000e+06   Ongoing      F   London   27      Alice
2   A003   Project 3  4.500000e+06  Finished      M   Berlin   29        Tom
3   A004   Project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3.250500e+06  Finished      F   Madrid   30        Amy
5   A002   Project 6  6.800000e+05    Failed      F   London   27      Alice
6   A005   Project 7  4.000000e+05  Finished      F   Madrid   30        Amy
7   A003   Project 8  3.500000e+05    Failed      M   Berlin   29        Tom
8   A001   Project 9  2.061714e+06   Ongoing      M    Paris   25       John
9   A003  Project 10  3.000000e+05  Finished      M   Berlin   29        Tom
10  A001  Project 11  2.000000e+06    Failed      M    Paris   25       John
11  A004  Project 12  1.000000e+06   Ongoing      F  Newyork   31       Nina
12  A005  Project 14  2.000000e+05  Finished      F   Madrid   30        Amy

    Last Name  Designation Level   Bonus
0       Alter                  2   50100
1   Luxumberg                  2       0
2   Sabestine                  3  225000
3       Adgra                  2       0
4       Johny                  3  162525
5   Luxumberg                  2       0
6       Johny                  3   20000
7   Sabestine                  3       0
8       Alter                  2       0
9   Sabestine                  3   15000
10      Alter                  2       0
11      Adgra                  2       0
12      Johny                  3   10000

In [17]:
''' Task 6 - Demote the designation level by 1, whose projects have status “fail”. Delete the 
employees record whose designation level is above 4. '''

# Reading the previous CSV file with the Bonus column
final_df = pd.read_csv("final_with_bonus.csv")

# Demote designation level by 1 for the Failed projects
for i in range(len(final_df)):
    if final_df.loc[i, "Status"] == "Failed":
        final_df.loc[i, "Designation Level"] = final_df.loc[i, "Designation Level"] - 1

print("After Demoting Failed Project Employees:")
print(final_df)

After Demoting Failed Project Employees:
      ID     Project          Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished      M    Paris   25       John
1   A002   Project 2  2.000000e+06   Ongoing      F   London   27      Alice
2   A003   Project 3  4.500000e+06  Finished      M   Berlin   29        Tom
3   A004   Project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3.250500e+06  Finished      F   Madrid   30        Amy
5   A002   Project 6  6.800000e+05    Failed      F   London   27      Alice
6   A005   Project 7  4.000000e+05  Finished      F   Madrid   30        Amy
7   A003   Project 8  3.500000e+05    Failed      M   Berlin   29        Tom
8   A001   Project 9  2.061714e+06   Ongoing      M    Paris   25       John
9   A003  Project 10  3.000000e+05  Finished      M   Berlin   29        Tom
10  A001  Project 11  2.000000e+06    Failed      M    Paris   25       John
11  A004  Project 12  1.000000e+06   Ongoing      F  Newyork   31       Nina
12  A005  Project 14  2.000000e+05  Finished      F   Madrid   30        Amy

    Last Name  Designation Level   Bonus
0       Alter                  2   50100
1   Luxumberg                  2       0
2   Sabestine                  3  225000
3       Adgra                  2       0
4       Johny                  3  162525
5   Luxumberg                  1       0
6       Johny                  3   20000
7   Sabestine                  2       0
8       Alter                  2       0
9   Sabestine                  3   15000
10      Alter                  1       0
11      Adgra                  2       0
12      Johny                  3   10000

In [13]:
# Delete employees whose designation level is above 4
final_df = final_df[final_df["Designation Level"] < 4]

print("\nFinal table After Removing Employees with Designation Level > 4:")
print(final_df)

Final table After Removing Employees with Designation Level > 4:
      ID     Project          Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished      M    Paris   25       John
1   A002   Project 2  2.000000e+06   Ongoing      F   London   27      Alice
2   A003   Project 3  4.500000e+06  Finished      M   Berlin   29        Tom
3   A004   Project 4  5.500000e+06   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3.250500e+06  Finished      F   Madrid   30        Amy
5   A002   Project 6  6.800000e+05    Failed      F   London   27      Alice
6   A005   Project 7  4.000000e+05  Finished      F   Madrid   30        Amy
7   A003   Project 8  3.500000e+05    Failed      M   Berlin   29        Tom
8   A001   Project 9  2.061714e+06   Ongoing      M    Paris   25       John
9   A003  Project 10  3.000000e+05  Finished      M   Berlin   29        Tom
10  A001  Project 11  2.000000e+06    Failed      M    Paris   25       John
11  A004  Project 12  1.000000e+06   Ongoing      F  Newyork   31       Nina
12  A005  Project 14  2.000000e+05  Finished      F   Madrid   30        Amy

    Last Name  Designation Level   Bonus
0       Alter                  2   50100
1   Luxumberg                  2       0
2   Sabestine                  3  225000
3       Adgra                  2       0
4       Johny                  3  162525
5   Luxumberg                  1       0
6       Johny                  3   20000
7   Sabestine                  2       0
8       Alter                  2       0
9   Sabestine                  3   15000
10      Alter                  1       0
11      Adgra                  2       0
12      Johny                  3   10000

In [27]:
''' Task 7 - Add “Mr.” and “Mrs.” to the first name column and drop the gender column. '''

# Read the CSV file from Task 6
final_df = pd.read_csv("final_task6.csv")

# Add Mr./Mrs. prefix based on Gender
for i in range(len(final_df)):
    if final_df.loc[i, "Gender"] == "M":
        final_df.loc[i, "First Name"]= "Mr." + final_df.loc[i, "First Name"]
    else:
        final_df.loc[i, "First Name"]= "Mrs." + final_df.loc[i, "First Name"]

# Drop the Gender column
final_df = final_df.drop("Gender", axis=1)

# Output of the final DataFrame
print("Final DataFrame after adding Mr./Mrs. and removing Gender:")
print(final_df)

Final DataFrame after adding Mr./Mrs. and removing Gender:
      ID     Project          Cost    Status     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished    Paris   25    Mr.John
1   A002   Project 2  2.000000e+06   Ongoing   London   27  Mrs.Alice
2   A003   Project 3  4.500000e+06  Finished   Berlin   29     Mr.Tom
3   A004   Project 4  5.500000e+06   Ongoing  Newyork   31   Mrs.Nina
4   A005   Project 5  3.250500e+06  Finished   Madrid   30    Mrs.Amy
5   A002   Project 6  6.800000e+05    Failed   London   27  Mrs.Alice
6   A005   Project 7  4.000000e+05  Finished   Madrid   30    Mrs.Amy
7   A003   Project 8  3.500000e+05    Failed   Berlin   29     Mr.Tom
8   A001   Project 9  2.061714e+06   Ongoing    Paris   25    Mr.John
9   A003  Project 10  3.000000e+05  Finished   Berlin   29     Mr.Tom
10  A001  Project 11  2.000000e+06    Failed    Paris   25    Mr.John
11  A004  Project 12  1.000000e+06   Ongoing  Newyork   31   Mrs.Nina
12  A005  Project 14  2.000000e+05  Finished   Madrid   30    Mrs.Amy

    Last Name  Designation Level   Bonus
0       Alter                  2   50100
1   Luxumberg                  2       0
2   Sabestine                  3  225000
3       Adgra                  2       0
4       Johny                  3  162525
5   Luxumberg                  1       0
6       Johny                  3   20000
7   Sabestine                  2       0
8       Alter                  2       0
9   Sabestine                  3   15000
10      Alter                  1       0
11      Adgra                  2       0
12      Johny                  3   10000

In [26]:
''' Task 8 - Promote designation level by 1 for the employees whose age is more than 29 years using 
IF condition. '''

# Promote the employees with the age more than 29 as below
for i in range(len(final_df)):
    if final_df.loc[i, "Age"] > 29: 
        final_df.loc[i, "Designation Level"] = final_df.loc[i, "Designation Level"] + 1

# Display the updated DataFrame
print("Final DataFrame after Promoting the employees based on the Age):")
print(final_df)

Final DataFrame after Promoting the employees based on the Age):
      ID     Project          Cost    Status     City  Age First Name  \
0   A001   Project 1  1.002000e+06  Finished    Paris   25    Mr.John
1   A002   Project 2  2.000000e+06   Ongoing   London   27  Mrs.Alice
2   A003   Project 3  4.500000e+06  Finished   Berlin   29     Mr.Tom
3   A004   Project 4  5.500000e+06   Ongoing  Newyork   31   Mrs.Nina
4   A005   Project 5  3.250500e+06  Finished   Madrid   30    Mrs.Amy
5   A002   Project 6  6.800000e+05    Failed   London   27  Mrs.Alice
6   A005   Project 7  4.000000e+05  Finished   Madrid   30    Mrs.Amy
7   A003   Project 8  3.500000e+05    Failed   Berlin   29     Mr.Tom
8   A001   Project 9  2.061714e+06   Ongoing    Paris   25    Mr.John
9   A003  Project 10  3.000000e+05  Finished   Berlin   29     Mr.Tom
10  A001  Project 11  2.000000e+06    Failed    Paris   25    Mr.John
11  A004  Project 12  1.000000e+06   Ongoing  Newyork   31   Mrs.Nina
12  A005  Project 14  2.000000e+05  Finished   Madrid   30    Mrs.Amy

    Last Name  Designation Level   Bonus
0       Alter                  2   50100
1   Luxumberg                  2       0
2   Sabestine                  3  225000
3       Adgra                  4       0
4       Johny                  5  162525
5   Luxumberg                  1       0
6       Johny                  5   20000
7   Sabestine                  2       0
8       Alter                  2       0
9   Sabestine                  3   15000
10      Alter                  1       0
11      Adgra                  4       0
12      Johny                  5   10000

In [25]:
''' Task 9 - Add the cost of all projects for each Employee and save it in new dataframe 
“TotalProjCost” with three columns ID, First Name, and Total cost. '''

# Group by Employee ID and First Name to calculate total project cost below
total_cost_df = final_df.groupby(["ID", "First Name"])["Cost"].sum().reset_index()

# Rename the "Cost" column to "Total Cost"
total_cost_df = total_cost_df.rename(columns={"Cost": "Total Cost"})

# Saving to the new DataFrame named TotalProjCost
TotalProjCost = total_cost_df

# Display the new DataFrame
print("Total Project Cost per Employee:")
print(TotalProjCost)

Total Project Cost per Employee:
     ID First Name    Total Cost
0  A001    Mr.John  5.063714e+06
1  A002  Mrs.Alice  2.680000e+06
2  A003     Mr.Tom  5.150000e+06
3  A004   Mrs.Nina  6.500000e+06
4  A005    Mrs.Amy  3.850500e+06

In [24]:
''' Task 10 - Print all the employee details whose city name contains the letter “o” in it. '''


# Filter the employees with the city that contains "o" (case-insensitive)
employees_city = final_df[final_df["City"].str.contains("o", case=False)]

# Printing the result
print("Employees whose City name contains the letter 'o':")
print(employees_city)

Employees whose City name contains the letter 'o':
      ID     Project       Cost   Status     City  Age First Name  Last Name  \
1   A002   Project 2  2000000.0  Ongoing   London   27  Mrs.Alice  Luxumberg
3   A004   Project 4  5500000.0  Ongoing  Newyork   31   Mrs.Nina      Adgra
5   A002   Project 6   680000.0   Failed   London   27  Mrs.Alice  Luxumberg
11  A004  Project 12  1000000.0  Ongoing  Newyork   31   Mrs.Nina      Adgra

    Designation Level  Bonus
1                   2      0
3                   3      0
5                   1      0
11                  3      0